<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LokmanyaLibraryConnectionString" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString2" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString4" connectionString="Data Source=MANASI;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString3" connectionString="Data Source=MINDMAYUR-PC;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString5" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString6" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString7" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString8" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LokmanyaLibraryConnectionString9" connectionString="Data Source=manasi;Initial Catalog=LokmanyaLibrary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
    
</configuration>